<div class="row-fluid">
	<button class="btn btn-primary addbut" id="addDataElementConcept" title="Add New Data Element Concept">
		+
	</button>
</div>
<span class="tablehead"> <h3 id="objectClassName" class="tabletitle"></h3> </span>
<div class="row-fluid">
	<div class="alert alert-error hide">No Data Element Concepts Added Yet</div>
	<table class="table table-hover">
		<thead>
			<tr>
				<th></th>
				<th>Name</th>
				<th>Definition</th>
				<th>Property Name</th>
				<th></th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
	<div id="paginatorBar"></div>
</div>

