<div class="input-append">
	<input type='text' class='input' placeholder='Search...' required='required' />
	<button class='btn'>
		<i class="icon-search"></i>
	</button>
</div>

<a id="advanceSearchToggle" data-toggle="collapse" data-target="#advanceSearchOptions" href="#">Advanced Search</a></div>

<div class="collapse out" id="advanceSearchOptions">
	<label class="radio">
		<input type="radio" name="advanceSearch" id="exact" value="exact" checked>
		Exact phrase </label>
	<label class="radio">
		<input type="radio" name="advanceSearch" id="all" value="all">
		All of the words </label>
	<label class="radio">
		<input type="radio" name="advanceSearch" id="least" value="least">
		At least one of the words </label>
</div>