<fieldset>
	<legend></legend>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>ID</th>
				<th>Description</th>
				<th></th>
			</tr>
			<tr>
				<td>
				<input type='text' class="input-block-level" placeholder="ID" required='required' id="valueMeaningID">
				</td>
				<td>
				<input type='text' class="input-block-level" placeholder="Description" required='required' id="description">
				</td>
				<td>
				<button id="addValueMeaning">
					<i class="icon-plus"></i>
				</button></td>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
	<div id="paginatorBar"></div>
</fieldset>
