<div class="input-append">
	<textarea rows="10" id="qinput"class="input-block-level" required='required'></textarea>
	<div class="pull-left">
		<div class="input-prepend">
			<span class="add-on">Result Format: </span>
			<select id="lang">
				<option>N3</option>
				<option>N-TRIPLE</option>
				<option>RDF/XML</option>
				<option>RDF/XML-ABBREV</option>
				<option>TURTLE</option>
			</select>
		</div>
	</div>
	<div class="pull-right">
		<button class='btn'>
			Execute
			<i class="icon-question-sign"></i>
		</button>
	</div>  
</div>